/个人简历
/DotNetProject/archive
/DotNetProject/SwaggerApi/bin/Debug/net5.0
/DotNetProject/WebDemo/.vs/WebDemo
/DotNetProject/WebDemo/bin/Debug/net5.0
/DotNetProject/WebDemo/obj
/DotNetProject/PythonRegressionApplication1
/DotNetProject/WpfDemo/obj
/DotNetProject/ConsoleDemo/bin/Debug/net5.0
/DotNetProject/ConsoleDemo/obj
