<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" 
      internalLogFile="c:\temp\nlog-internal.log">

  <targets>
    <!--<target name="log_file" xsi:type="File"
                        fileName="${basedir}/Logs/${shortdate}.txt"
                        layout="${longdate} | ${level:uppercase=false:padding=-5} ${message}" />-->
    <!--connectionString="data source=127.0.0.1;initial catalog=WindDataMining;persist security info=True;user id=sa;password=1234xiao;"-->
    <target name="database_sql" xsi:type="Database"            
            connectionString="data source=127.0.0.1;initial catalog=Autumn2021;persist security info=True;user id=sa;password=1234xiao;"
            commandText="INSERT INTO RUN_LOG (Machine, Logger, LogLevel, Message, OccurTime) VALUES (@Machine, @Logger, @LogLevel, @Message, @OccurTime);"
            >
      <parameter name="@Machine" layout="${machinename}" />
      <parameter name="@Logger" layout="${logger}" />
      <parameter name="@LogLevel" layout="${level}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@OccurTime" layout="${date}" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="log_file" />
    <logger name="*" minlevel="Info" writeTo="database_sql" />
  </rules>
</nlog>
